button {
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    background-color: rgb(67, 117, 38);
    border: none;
    color: white;
    cursor: pointer;
    opacity: 0.9;
    flex: 1;
}

button:hover{
    opacity: 1;
}

#clear-btn{
    background-color: #8395a5;
}